/* Colors */
$bg-color: rgba(0, 28, 39, 0.811);
$font-color: #fff;
$text-shadow: rgb(2, 24, 63);
$border-color: rgba(255, 255, 255, 0.6);

// rgba(0, 28, 39, 0.638);
// rgba(0, 28, 39, 0.287);
// rgba(0, 179, 255, 0.865);
// rgb(11, 109, 147);

/* Fonts */

$mobileMin: 480px;
$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1199px;
$desktopMin: 1200px;
$desktopMax: 1599px;
$tvMin: 1600px;
